
.App {
  text-align: center;
  margin: 0;
}
body {
  background-image: url("./Images/image.jpg");
  background-repeat: no repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  position: relative;
  /* margin: 0; */
}
a {
  text-decoration: none;
}
.Image{
  background-image: url("./Images/Back.png");
  background-repeat: no repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
  position: relative;
  
}
label {
  display: block;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
}
table {
  width: 100%;
}
th,
td {
  text-align: center;
  padding: 8px;
  background-color: black;
  color: white;
}
input[type="number"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  border-radius: 3px;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  outline: 0;
  padding: 5px 18px;
  width: 100%;
}
.inputbox [type="submit"] {
  width: 50%;
  background: dodgerblue;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px 25px;
  border: #fff;

}
.inputbox:hover [type="submit"] {
  background: linear-gradient(40deg, greenyellow, dodgerblue);
  }
.topnav a.login {
  margin-inline-end: auto;
}
button{
  border: black;
  padding: 16px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10%;
  margin: auto;
  cursor: pointer;
}

.head {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.txt {
  font-size: 15px;
}
.head-tag {
  text-align: center;
  font-size: 12px;
}
form {
  font-size: 14px;
  text-align: left;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 4%;
  padding-bottom: 5%;
}
.logo {
  text-align: center;
}